<div class="container py-5">
  <div class="row">
    <div class="col-12 col-md-6 offset-lg-3">
      <div class="form mary rounded p-3 shadow">
        <h3>Edit Pool:</h3>
        <%= simple_form_for @pool, url: pool_path(@pool), method: :patch do |f| %>
          <%= f.input :title, placeholder: 'Your pool name' %>
          <%= f.input :description, placeholder: 'Describe your pool', hint: 'Min 16 characters.' %>
          <%= f.input :address, placeholder: 'Your pool address' %>
          <div class="row">
            <div class="col-6">
              <%= f.input :price, as: :float, hint: 'eg. 89.59', label: 'Price per hour' %>
            </div>
            <div class="col-6">
              <%= f.input :capacity, collection: 1..20 %>
            </div>
          </div>
          <%= f.input :photo, as: :file %>
          <%= f.submit 'Update Pool', class: 'btn-form' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
