<div class="row g-0">
  <div class="d-flex justify-content-between my-4">
    <span class="mb-2 d-block"><small><em class="text-muted"><%= "You haven't created any pools!" if @mypools.empty? %></em></small></span>
    <div>
      <%= link_to "List a pool", new_pool_path, class: "btn btn-success" %>
    </div>
  </div>
  <% @mypools.each do |pool| %>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="card-pool">
        <img src="https://housing.com/news/wp-content/uploads/2023/03/10-Vastu-based-swimming-pool-ideas-for-home-construction-09.png" />
        <div class="card-pool-infos">
          <div>
            <h2><%= pool.title %></h2>
            <p><%= pool.description %></p>
          </div>
          <h2 class="card-pool-pricing">£<%= pool.price %></h2>
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton<%= pool.id %>" data-bs-toggle="dropdown" aria-expanded="false">
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton<%= pool.id %>">
                <li><a class="dropdown-item" href="<%= edit_pool_path(pool) %>">Edit</a></li>
                <li><%= link_to "Delete", pool_path(pool), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "dropdown-item" %></li>
            </ul>
          </div>
       </div>
     </div>
    </div>
  <% end %>
</div>
