<div class="container show-container">
  <div class="row">
    <div class="col">
    <h1><%= @pool.title %></h1>
      <div class=container-img>
      <img src="https://housing.com/news/wp-content/uploads/2023/03/10-Vastu-based-swimming-pool-ideas-for-home-construction-09.png" />
    </div>
    <div class= container-text>
      <div class= "col">
        <p><%= @pool.description %></p>
         <%#Insert map into this gap%>
         <p><strong><%= @pool.address %></strong></p>
          <h5><strong>Capacity:</strong> <%= @pool.capacity %> people</h5>
          <h2>Price per hour: €<%= @pool.price %></h3>
        </div>
      </div>
      <div class= "container-btn">
        <div class="col">
          <div class="d-grid gap-2 d-md-block">
            <%= link_to "Book pool", new_pool_booking_path, class: "btn btn-success" %>
            <%= link_to "Back to search", pools_path, class: "btn btn-primary" %>
          </div>
        </div>
       </div>
      </div>
      <div class="col-12 col-sm-6">
        <% if @pool.reviews.empty? %>
          <small class="text-muted"><em>Be the first one to review this pool!</em></small>
        <% end %>
        <% if @pool.reviews.any?%>
          <h3> All reviews for <%= @pool.title %> </h3>
          <% @pool.reviews.each do |review| %>
            <div class="review mb-3"> <h4><%= review.title %></h4>
            <% review.rating.times do %>
              <i class="fas fa-star star-blue"></i>
            <% end %>
            <small><em class="text-muted"><%= distance_of_time_in_words_to_now(review.created_at) %> ago</em></small>
            <p class="mb-0"><%= review.content %></p>
          </div>
        <% end %>
        <hr>
      <% end %>
    </div>
  </div>
</div>
