<div class= "container">
  <div class= "row">
  <h1><%= @pool.title %></h1>
    <img src="https://housing.com/news/wp-content/uploads/2023/03/10-Vastu-based-swimming-pool-ideas-for-home-construction-09.png" class="img-fluid" />
    <h4><%= @pool.address %></h3>
    <%#Insert map into this gap%>
    <p><%= @pool.description %></p>
    <h4>Capacity: <%= @pool.capacity %></h4>
    <h3>Price per hour: <%= @pool.price %></h3>
    <div class="d-grid gap-2 d-md-block">
      <%= link_to "Book", new_pool_booking_path, class: "btn btn-success" %>
      <%= link_to "Browse all pools", pools_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>

<ul>
  <% if @pool.reviews.any? %>
    <h2> All reviews for <%= @pool.title %> </h2>
    <% @pool.reviews.each do |review| %>
      <li>
        <h3><%= review.title %></h3>
        <p>Rating: <%= review.rating %></p>
        <p><%= review.content %></p>
      </li>
    <% end %>
  <% else %>
    <p>No reviews yet for this pool. Be the first to leave one!</p>
  <% end %>
</ul>
