<div class="container">
  <div class="row g-0">
    <div class="d-flex justify-content-between my-4">
      <span class="mb-2 d-block"><small><em class="text-muted"><%= "You haven't created any bookings!" if @mybookings.empty? %></em></small></span>
    </div>
  <% @mybookings.each do |booking| %>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="card-pool">
        <img src="https://housing.com/news/wp-content/uploads/2023/03/10-Vastu-based-swimming-pool-ideas-for-home-construction-09.png" />
        <div class="card-pool-infos">
          <div>
            <h2><%= booking.pool.title %></h2>
            <p>Start time:</p>
            <p><%= booking.start_time.strftime("%B %d, %Y %I:%M %p") %></p>
            <p>End time:</p>
            <p><%= booking.end_time.strftime("%B %d, %Y %I:%M %p") %></p>
            <h2 class="card-pool-pricing">Price: £<%= booking.pool.price %></h2>
          </div>
          <div>
            <%= link_to "View pool", booking.pool, class: "btn btn-primary" %>
          </div>
          <div>
            <% review = Review.find_by(booking_id: booking.id) %>
            <% if review.present? %>
              <h2> Your review of <%= review.title %> </h2>
              <p> Rating: <%= review.rating %> </p>
              <p> <%= review.content %> </p>
            <% else %>
              <% if booking.end_time < Time.current %>
                <%= link_to "Write a Review", new_booking_review_path(booking), class: "btn btn-primary" %>
              <% else %>
                <p> <em> You can write a review after the booking ends <em> </p>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
</div>
