  <% bookings.each do |booking| %>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="card-pool">
        <img src="https://housing.com/news/wp-content/uploads/2023/03/10-Vastu-based-swimming-pool-ideas-for-home-construction-09.png" />
        <div class="card-pool-infos">
          <div>
            <h2><%= booking.user.first_name %><%= booking.user.last_name %></h2>
            <p>Booked for: <%= booking.pool.title %> </p>
            <p>Start time: <%= booking.start_time.strftime("%B %d, %Y %I:%M %p") %></p>
            <p>End time: <%= booking.end_time.strftime("%B %d, %Y %I:%M %p") %></p>
          </div>
          <h2 class="card-pool-pricing">Price: £<%= booking.pool.price %></h2>
          <% if booking.status != "accepted" %>
            <div class="d-flex">
              <%= button_to "Accept", update_booking_status_path(booking, status: 'accepted'), class: "btn btn-success", method: :patch, data: {turbo: false} %>
              <%= button_to "Reject", update_booking_status_path(booking, status: 'rejected'), class: "btn btn-danger", method: :patch, data: {turbo: false} %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
