<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <a class="navbar-brand" href="<%= root_path %>">
      <%= image_tag "AirPnP.png", class: "img-responsive", alt: "logo"%>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="col-sm-20 my-3 ">
      <%= form_with url: pools_path, method: :get, class: "d-flex flex-row flex-nowrap align-items-center" do %>
        <%= text_field_tag :location,
              params[:location],
              class: "form-control",
              placeholder: "Location..",
              style: "width: 350px; border-radius: 10px; height: 40px; margin: 5px"
          %>
        <%= text_field_tag :capacity,
              params[:capacity],
              class: "form-control form-control-sm",
              placeholder: "Capacity",
              style: "width: 75px; border-radius: 10px; height: 40px;"
          %>
        <button name="button" type="submit" class="btn btn-flat">
          <i class="fas fa-search"></i>
        </button>
      <% end %>
    </div>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item active">
            <a class="nav-link" href="<%= root_path %>">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Messages</a>
          </li>
          <li class="nav-item dropdown">
            <img class="avatar dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://kitt.lewagon.com/placeholder/users/ssaunier" />
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "My pools", my_pools_path, class: "dropdown-item" %>
              <%= link_to "My bookings", my_bookings_path, class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
              <%= link_to "Edit details", edit_user_registration_path, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
