<div class="row g-0">
  <% @pools.each do |pool| %>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <%= link_to pool_path(pool) do %>
        <div class="card-pool">
          <img src="<%= cl_image_path pool.photo.key, height: 300, crop: :fill unless pool.photo.key.blank?%>" />
          <div class="card-pool-infos">
            <div class="title-description">
              <h2><%= pool.title %></h2>
              <p><%= pool.description %></p>
            </div>
            <div class="price-capacity">
              <div class="capacity-icon"><i class="fa-solid fa-users"></i><h2 class="card-pool-capacity"><%= pool.capacity %></h2></div>
              <h2 class="card-pool-pricing">£<%= '%.2f' % pool.price %></h2>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
